@{
    Layout = "_AccLayout";
}
<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/assets/media/illustrations/development-hd.png)">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="~/" class="mb-12">
            <img alt="Logo" src="~/img/logos/logo.png" class="h-80px">
        </a>
        @RenderBody()
    </div>
</div>