@inject Service db

<div class="modal fade" id="new_cert_modal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-750px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    @*<i aria-hidden="true" class="ki ki-close"></i>*@
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000"> <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" /> <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" /> </g> </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <form class="form form-go" asp-controller="StockBroker" asp-action="AddCertRequest" enctype="multipart/form-data">
                    <div class="mb-13 text-center">
                        <h1 class="mb-3">Ecert Request</h1>
                        <div class="text-gray-400 fw-bold fs-5">
                            If you need more info, please check.
                        </div>
                    </div>

                    <div class="row g-9 mb-8">
                        <div class="col-md-6 fv-row">
                            <label class="required fs-6 fw-bold mb-2"> <span class="required">Description</span></label>
                            <input type="text" class="form-control form-control-solid" placeholder="Enter a description" name="Description" required />
                        </div>
                        <div class="col-md-6 fv-row">
                            <label class="required fs-6 fw-bold mb-2">Select File</label>
                            <input type="file" class="form-control form-control-solid" placeholder="Select a file" name="mfile" required />
                            @*<div></div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="mfile" />
                                <label class="custom-file-label" for="mfile" name="mfile">Choose file</label>
                            </div>*@
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-8 fv-row">
                        <label class="required fs-6 fw-bold mb-2"> <span class="required">Brief Details</span></label>
                        <textarea class="form-control form-control-solid" rows="3" name="Brief" required></textarea>
                    </div>

                    <div class="text-center p-8">
                        <button type="button" id="kt_modal_new_target_cancel" class="btn btn-white me-3" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>