<div class="d-flex flex-wrap flex-stack mb-7">
    <div class="d-flex flex-column flex-wrap align-items-start my-1">
        <h1 class="page-header-title">Dividend history as at @DateTime.Now.ToString("dd-MMM-yyy")</h1>
    </div>
    <div class="d-flex flex-wrap my-1 no-print">
        <a id="bt_export_dividends" href="javascript:;" class="btn btn-dark btn-active-dark ms-1">
            <span>Export</span>
        </a>
        <a id="bt_print_dividends" href="javascript:;" class="btn btn-dark btn-active-dark ms-1">
            <span>Print</span>
        </a>
        <button id="bt_close_dividends" class="btn btn-danger btn-active-dark ms-1">
            <span>Close</span>
        </button>
    </div>
</div>

<div>
    <div class="d-flex flex-wrap">

        <div class="min-w-75px pe-4 me-6 mb-3">
            <div class="fw-semibold fs-6 text-gray-400">Register:</div>
            <div class="d-flex align-items-center">
                <div class="fs-4 fw-bold"><span id="sp_divs_register">...</span></div>
            </div>
        </div>

        <div class="min-w-75px pe-4 me-6 mb-3">
            <div class="fw-semibold fs-6 text-gray-400">Name:</div>
            <div class="d-flex align-items-center">
                <div class="fs-4 fw-bold"><span id="sp_divs_name">...</span></div>
            </div>
        </div>

        <div class="min-w-75px pe-4 me-6 mb-3">
            <div class="fw-semibold fs-6 text-gray-400">CSCS No:</div>
            <div class="d-flex align-items-center">
                <div class="fs-4 fw-bold"><span id="sp_divs_cscs">...</span></div>
            </div>
        </div>

        <div class="min-w-75px pe-4 me-6 mb-3">
            <div class="fw-semibold fs-6 text-gray-400">Acc No:</div>
            <div class="d-flex align-items-center">
                <div class="fs-4 fw-bold"><span id="sp_divs_acc">...</span></div>
            </div>
        </div>

        <div class="min-w-75px pe-4 me-6 mb-3">
            <div class="fw-semibold fs-6 text-gray-400">Old Acc:</div>
            <div class="d-flex align-items-center">
                <div class="fs-4 fw-bold"><span id="sp_divs_oldacc">...</span></div>
            </div>
        </div>

        <div class="min-w-75px pe-4 me-6 mb-3">
            <div class="fw-semibold fs-6 text-gray-400">Address:</div>
            <div class="d-flex align-items-center">
                <div class="fs-4 fw-bold"><span id="sp_divs_address">...</span></div>
            </div>
        </div>

    </div>
</div>

<div class="mt-5">
    <table class="table table-striped data-list fs-6 fw-bold gy-3 gs-5">
        <thead>
            <tr class="fw-bolder fs-6 text-dark border-bottom border-gray-200">
                <th>S/N</th>
                <th>Date</th>
                <th>Div. No</th>
                <th>Warr. No</th>
                <th>Type</th>
                <th>Units</th>
                <th class="text-end">Gross</th>
                <th class="text-end">Tax</th>
                <th class="text-end">Net</th>
            </tr>
        </thead>
        <tbody id="t_divs_body">
        </tbody>
        <tfoot id="t_divs_foot">
        </tfoot>
    </table>
</div>