@inject FirstReg.Service service

@{
    Layout = "_Layout";

    var user = await service.Data.Get<User>(x => x.UserName == User.Identity.Name);
    if (user.Type == UserType.StockBroker)
    {
        if (!user.StockBroker.IsSubscribed)
        {
            Context.Response.Redirect("/subscribe");
        }
    }
    else
    {
        Context.Response.Redirect("/");
    }
}

<div class="container" id="kt_content_container">
    @RenderBody()
</div>

@section styles {
    @RenderSection("styles", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}