@inject FirstReg.Service service

@{
    Layout = "_Layout";

    var user = await service.Data.Get<User>(x => x.UserName == User.Identity.Name);
    if (user.Type != UserType.FRAdmin)
    {
        Context.Response.Redirect("/");
    }
}

<div class="container-fluid" id="kt_content_container">
    @RenderBody()
</div>

@section styles {
    @RenderSection("styles", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}