<div class="menu-item menu-lg-down-accordion me-lg-1">
    <a href="~/" class="menu-link py-3"> <span class="menu-text">Dashboard</span> </a>
</div>
<div class="menu-item menu-lg-down-accordion me-lg-1">
    <a asp-controller="FRAdmin" asp-action="Shareholders" class="menu-link py-3"> <span class="menu-text">Shareholders</span> </a>
</div>
<div class="menu-item menu-lg-down-accordion me-lg-1">
    <a asp-controller="Home" asp-action="Registers" class="menu-link py-3"> <span class="menu-text">Registers</span> </a>
</div>
<div class="menu-item menu-lg-down-accordion me-lg-1">
    <a asp-controller="Home" asp-action="Profile" class="menu-link py-3"> <span class="menu-text">Profile</span> </a>
</div>
<div class="menu-item menu-lg-down-accordion me-lg-1">
    <a asp-controller="Auth" asp-action="Logout" class="menu-link py-3"> <span class="menu-text">Sign out</span> </a>
</div>