<h2 style="color: #253745; font-size: 24px; font-weight: normal; margin: 0; margin-bottom: 30px;">
    Hi @Model.name,
</h2>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            Welcome to First Registrars & Investor Services Limited! Thank you for creating
            an online access account with us.
        </span>
    </span>
</p>

<p style="margin: 0px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px; line-height: 28px;">
            Kindly use the code to confirm you email and complete your account activation.
        </span>
    </span>
</p>

<p style="margin: 30px 0px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 28px; margin: 0px; line-height: 38px; font-weight: 900;">
            @Model.code
        </span>
    </span>
</p>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            or just click the link below (please note that this online works if your account is already created)<br />
            <a href="@Model.link">activate your account</a>.
        </span>
    </span>
</p>

<div>
    <a style="border: none; border-radius: 4px; color: #fff; cursor: pointer; display: inline-block; font-size: 16px; padding: 15px 30px; background-color: #12406e; text-decoration: none; margin: 25px 0;" href="@Model.link" target="null">Reset your Password</a>
</div>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            This code will only be valid for the next <b>1 hour.</b> You might need to get
            a new link using the resend link on the registration page if this one expires.
        </span>
    </span>
</p>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            If you need help with your registration, please reach out to our support team.
        </span>
    </span>
</p>

<p style="margin: 0px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px; line-height: 28px;">
            Thank you.
        </span>
    </span>
</p>