@{
    ViewData["Title"] = "Fidelity Right Issue";
}

<div class="page-header mb-15">
    <div class="media mb-3">
        <div class="media-body">
            <div class="row">
                <div class="col-lg mb-3 mb-lg-0">
                    <h1 class="page-header-title">@ViewData["Title"]</h1>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span>Review the details of your profile, use the form to make changes as need.</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-auto">
                    <a asp-action="Index" asp-route-code="@ViewBag.Code" class="btn btn-info">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-5 mb-xl-10">
    <div class="card-body py-10">
        <form class="form form-loader" method="get">
            <div class="card-body">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-9 col-md-10">

                        <h3 class="pb-5 mt-10 mb-9 border-bottom">Your Account</h3>
                        <div class="form-group row">
                            <div class="col-lg-6 mb-8" data-option-view="personal-only">
                                <label class="fs-6 fw-bold mb-2 required" for="acc">Account No / CHN:</label>
                                <input name="acc" type="text" class="form-control form-control-solid h-auto py-4 px-7" placeholder="Enter account No / CHN" required />
                            </div>
                        </div>

                        <div class="mt-10">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary me-2 bt-submit">
                                        <span class="indicator-label">Submit</span>
                                        <span class="indicator-progress">
                                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                    <a asp-action="Index" asp-route-code="@ViewBag.Code" class="btn btn-secondary">Cancel</a>
                                </div>
                                <div class="col-lg-6 text-lg-end">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>