@{
    ViewData["Title"] = "Welcome";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">About Us</h1>
                <p class="lead">
                    First Registrars from key perspectives is the leading share
                    data management company in Nigeria. Our customer base of
                    over 1.5 million shareholders drawn from about 70 major
                    client companies remains absolutely unmatched.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>

<section class="feature-section ptb-60">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-9 mb-7 mb-lg-0">
                <div class="mb-4">
                    <h4>we have come a long way...</h4>
                </div>

                <div class="post-content text-dark">
                    <p class="lead">
                        Prior to the incorporation of First Registrars as a limited
                        company, the company operated as a unit in First Bank of
                        Nigeria Plc, offering Share Register Administration Services
                        for well over 30 years to Corporate Bodies and State Governments.
                    </p>
                    <p class="lead">

                        Following the re-structuring in the Bank, the Registrars
                        Unit was incorporated as “FIRST REGISTRARS NIGERIA LIMITED”
                        in May, 1999 as an independent company.
                    </p>
                    <img src="/img/bout.jpg" class="img-fluid mt-5 mb-5 rounded-custom" alt="apply">
                    <p class="lead">
                        First Registrars Nigeria Limited remained a wholly owned
                        subsidiary of First Bank of Nigeria Plc until December 2012
                        when a resolution was passed at the Court-Ordered-Meeting
                        that FirstBank should divest its entire holdings from First
                        Registrars in line with the CBN directives. Consequently
                        upon this, a new Board of Directors took over the company
                        while retaining its competent Management team under the
                        leadership of Bayo Olugbemi (FCIB, FICMR).
                    </p>
                    <p class="lead">
                        Again, in 2015, the ever evolving First Registrars Nigeria
                        Limited reinforced its market leadership by unveiling a
                        new identity with an increased service portfolio to
                        become FIRST REGISTRARS AND INVESTOR SERVICES LIMITED.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="feature-section ptb-60 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-center aos-init aos-animate" data-aos="fade-up">
                    <h2>What makes us Special</h2>
                    <p>
                        We possess the right qualities to extend outstanding
                        service, both to your and your shareholders.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-12">
                <div class="position-relative aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                    <div class="cta-card rounded-custom text-center custom-shadow p-5 bg-white mt-4 mt-lg-0 mt-md-0 z-2">
                        <div class="feature-icon d-inline-block bg-primary-soft rounded-circle mb-32">
                            <i class="fad fa-check-circle text-primary fa-2x"></i>
                        </div>
                        <h3 class="h5">Mission statement</h3>
                        <p class="mb-0">We use innovative technology to create ecosystems and facilitate engagements.<br/></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="position-relative aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="cta-card rounded-custom text-center custom-shadow p-5 bg-white mt-4 mt-lg-0 mt-md-0">
                        <div class="feature-icon d-inline-block bg-info-soft rounded-circle mb-32">
                            <i class="fad fa-check-circle text-info fa-2x"></i>
                        </div>
                        <h3 class="h5">Vision Statement</h3>
                        <p class="mb-0">To be the leading provider of platforms and services for records management, transaction processing and value-added services.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="position-relative aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                    <div class="cta-card rounded-custom text-center custom-shadow p-5 bg-white mt-4 mt-lg-0">
                        <div class="feature-icon d-inline-block bg-success-soft rounded-circle mb-32">
                            <i class="fad fa-check-circle text-success fa-2x"></i>
                        </div>
                        <h3 class="h5">CORE VALUES</h3>
                        <p class="mb-0">Fidelity, Innovation, Respect, Service Excellence, Tenacity.<br /><br /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related-job-list ptb-60 bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading text-center">
                    <h3 class="h1 text-primary mb-3">Our Core Services</h3>
                    <h4 class="h5 text-muted fw-light mb-5">
                        Our Core Share Register Data Management services
                        include amongst other the following:
                    </h4>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="text-decoration-none mt-4 mt-lg-0 mt-xl-0">
                    <ul class="normal-list">
                        <li>Maintenance of client companies Register of Shareholders which includes change of addresses, Bank mandate, Probate or Letters of administration, Change of names etc.</li>
                        <li>Payment of dividend warrants/interest to shareholders/bondholders respectively.</li>
                        <li>Registration of share transfers.</li>
                        <li>Issuing of share certificates.</li>
                        <li>Distribution of annual reports and accounts.</li>
                        <li>Organizing and officiating at AGMs/EGMs.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="text-decoration-none mt-4 mt-lg-0 mt-xl-0">
                    <ul class="normal-list">
                        <li>New issues, Rights issues, Private placements, Mergers and Acquisition.</li>
                        <li>Verification of Shareholders/bondholders signature</li>
                        <li>Liaising with CSCS to update the register of shareholders/ Registration of share transfers.</li>
                        <li>Production and filling of statutory reports with the corporate affairs commission.</li>
                        <li>Rendering statutory reports to NSE and SEC on behalf of client companies etc…</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section ptb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading text-center">
                    @*<h4 class="h5 text-primary">Services</h4>*@
                    <h4>
                        First Registrars also remains the most innovative Registrar outfit in the country introducing to the industry the following value adding products and services:
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="position-relative w-100">
                    <div class="feature-grid position-relative">
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">e-Dividend</h3>
                                <p class="mb-0">
                                    This is the direct crediting of dividend warrants into the
                                    shareholders bank account. With e-Dividend, physical dividend
                                    warrants are not sent to the shareholders.
                                </p>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-dark mb-32">
                                <i class="fal fa-sync-alt fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Online Access</h3>
                                <p class="mb-0">
                                    This gives shareholders and client companies
                                    the access to manage and monitor the transactions
                                    on their share accounts online 24/7.
                                </p>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-danger mb-32">
                                <i class="fal fa-file-chart-line fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">e-Share Notifier</h3>
                                <p class="mb-0">
                                    This is an SMS platform that offers real time SMS
                                    alert to investors on transactions relating to their
                                    share accounts.
                                </p>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-success mb-32">
                                <i class="fal fa-spell-check fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">FirstDividend Plus Prepaid Card</h3>
                                <p class="mb-0">
                                    First Registrars also pioneered the use of prepaid
                                    cards in distributing dividends to shareholders
                                    especially those who are unable to claim their
                                    dividends as a result of having no bank accounts.
                                </p>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-primary mb-32">
                                <i class="fal fa-chart-pie fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">e-Lodgement</h3>
                                <p class="mb-0">
                                    This is a special product designed for Stockbrokers. It is
                                    the electronic transfer of verified share certificates from
                                    First Registrars into the depository of CSCS.
                                </p>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-primary mb-32">
                                <i class="fal fa-share-alt fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Electronic Voting (e-Voting)</h3>
                                <p>
                                    First Registrars pioneered the use of electronic
                                    voting device at AGMs/EGMs of client companies.
                                </p>
                            </div>
                            <span class="border-line"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-subscribe pt-60 pb-120 ">
    <div class="container">
        <div class="bg-dark ptb-60 position-relative overflow-hidden rounded-custom">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-10">
                    <div class="subscribe-info-wrap text-center position-relative z-2">
                        <div class="section-heading">
                            <h2 class="mb-4">Brand Visibility</h2>
                            <p class="lead">
                                Our brand visibility has also earned us both local and
                                international recognitions from renowned organizations,
                                specifically, the Capital Finance International (CFI.co),
                                a UK based print journal and online reporting and analysis
                                on business, economics and finance worldwide bestowed on
                                First Registrars the award for the best “Share Registrar”
                                in Nigeria for two consecutive years 2015 and 2016. The
                                company was also recently awarded the “Best Registrar in
                                West Africa” under the Best Investment Adviser in West
                                Africa Award category by the West Africa Innovations
                                Awards, 2017.
                            </p>
                            <p class="lead">
                                The First Registrars brand remains youthful and vibrant with
                                active presence on major social media platforms – Facebook,
                                LinkedIn, Twitter and Instagram.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
                <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>*@
        </div>
    </div>
</section>