@{
    ViewBag.Title = "Contact Us";
}

<section class="hero-section ptb-100 position-relative overflow-hidden" style="background: url('assets/img/shape/color-particles-2.svg')no-repeat center top">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-10 mb-5">
                <div class="hero-content-wrap">
                    <h1 class="fw-bold display-5 aos-init aos-animate" data-aos="fade-up">Contact Us</h1>
                    @* <p class="lead aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                        Uniquely network business experiences for
                        resource sucking solutions. Dynamically re-engineer cooperative networks via cross-media
                        expertise.
                    </p> *@
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                    <span class="fad fa-comment-alt-lines fa-3x text-primary"></span>
                    <div class="contact-promo-info mb-4">
                        <h5>Visit Us today</h5>
                        <p>
                            No. 2, Abebe Village Road,<br />
                            Iganmu, Lagos,<br />
                            P. M. B. 12692, Marina, Lagos.<br />
                            <strong>monday to friday</strong> from
                            <strong>9am to 2pm WAT.</strong>
                        </p>
                    </div>
                    @*<a href="mailto:info@firstregistrarsnigeria.com" class="btn btn-link mt-auto">Chat with us</a>*@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                    <span class="fad fa-envelope fa-3x text-primary"></span>
                    <div class="contact-promo-info mb-4">
                        <h5>Email Us</h5>
                        <p>
                            You can drop us an email at <strong>info@firstregistrarsnigeria.com</strong>
                            and you'll receive a reply from one of our representatives.
                        </p>
                    </div>
                    <a href="mailto:info@firstregistrarsnigeria.com" class="btn btn-primary mt-auto">Email Us</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                    <span class="fad fa-phone fa-3x text-primary"></span>
                    <div class="contact-promo-info mb-4">
                        <h5>Give us a call</h5>
                        <p>
                            Give us a ring.Our Experts are standing by <strong>monday to friday</strong> from
                            <strong>9am to 5pm EST.</strong>
                        </p>
                    </div>
                    <a href="tel:+23412799880" class="btn btn-link mt-auto fs-6">
                        <span class="d-block mb-0">
                            02 012701078, 02 012799880, 09154123719, 09154123720, 09154123721, 09154123722
                        </span>
                        <span class="mb-0"><strong>Fax:</strong> +234-1-2701071, 2701072</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="career-promo ptb-60 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading text-center">
                    <h2>Our Regional Liaison Offices</h2>
                    @*<p>Revolutionary paradigms before enabled interfaces dynamically transition technically sound paradigms with cutting-edge initiatives. </p>*@
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 mb-5">
                <div class="single-feature d-flex flex-column mt-0 p-5 bg-white rounded-custom">
                    <span class="fas fa-house-user fa-3x text-primary"></span>
                    <div class="text-primary mt-2">
                        <h5>Abuja Liaison Office</h5>
                        <p class="mb-0 fs-6">
                            First Registrars & Investor Services Limited,<br />
                            First Bank of Nigeria Limited Building,<br />
                            Plot 451, Jos Street,<br />
                            Opp. Sharon Ultimate Hotel,<br />
                            Area 3, Garki, Abuja.<br />
                            Tel: +234-8023154938
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="single-feature d-flex flex-column mt-0 p-5 bg-white rounded-custom">
                    <span class="fas fa-house-user fa-3x text-primary"></span>
                    <div class="text-primary mt-2">
                        <h5>Ibadan</h5>
                        <p class="mb-0 fs-6">
                            First Registrars & Investor Services Limited,<br />
                            First Bank of Nigeria Limited Building,<br />
                            48, Alhaji Abdulazeez Arisekola Alao way,<br />
                            Opposite MRS Filling Station,<br />
                            Challenge, Ibadan, Oyo State<br />
                            Tel: 2348025714780
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="single-feature d-flex flex-column mt-0 p-5 bg-white rounded-custom">
                    <span class="fas fa-house-user fa-3x text-primary"></span>
                    <div class="text-primary mt-2">
                        <h5>Port-Harcourt</h5>
                        <p class="mb-0 fs-6">
                            First Registrars & Investor Services Limited,<br />
                            First Bank of Nigeria Limited Building (Main Branch),<br />
                            2nd Floor, 22/24 Aba Road,<br />
                            Port-Harcourt, Rivers State<br />
                            Tel: 2348055656430
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>