@{
    ViewBag.Title = "First Dividend Prepaid Plus Card";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
                <p class="lead">
                    FirstDividend plus prepaid card is a premium prepaid card issued to 
                    shareholders into which dividend amounts due to them are automatically 
                    loaded/credited on the payable date.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>








<div class="feature-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!--** Start About Content Details **-->
                <div class="blog-post-details-body">
                    <div class="post-content text-dark">
                        <p class="lead">
                             Shareholders can also load additional money into their card for future transactions and safe keeping. No more unclaimed dividends as you can claim all your dividends right away even without a bank account. It is our commitment to reducing unclaimed dividends.
                        </p>
                        <h5>
                            ACTIVATING YOUR FIRST DIVIDEND PLUS PREPAID CARD
                        </h5>
                        <p class="mb-4">
                            First Dividend plus prepaid card can be activated through any of these channels :
                        </p>
                        <h6>
                            ATM:
                        </h6>
                        <ul class="normal-list my-4 mx-5">
                        </ul>
                        <ol class="normal-list my-4 mx-5">
                            <li>Slot in your FirstDividend plus prepaid card into any firstbank atm machine</li>
                            <li>Enter your default card PIN</li>
                            <li>Select “change PIN” option</li>
                            <li>Enter a new preferred PIN known only to you</li>
                        </ol>
                        <h6>
                            POS:
                        </h6>
                        <ol class="normal-list my-4 mx-5">
                            <li>Select PIN change</li>
                            <li>Insert your card</li>
                            <li>Enter a new preferred PIN known only to you</li>
                        </ol>


                        <div class="bg-secondary text-center p-4 my-5">
                            <p class="text-white">
                                DO NOT DISCLOSE YOUR PIN TO ANYONE !!!
                            </p>
                        </div>

                        <h6>
                        </h6>
                        <h5>
                            FUNDING YOUR PREPAID CARD
                        </h5>
                        <p class="mb-4">
                            In addition to the dividend money that is paid into your card by FirstRegistrars, you can visit any FirstBank branch to load money into your card by simply using the deposit slip, input your card number as the account number and indicate the amount to be loaded into the card. A third party can also deposit money to your card from any FirstBank branch. You can also load money into your card at any FirstRegistrars office.
                        </p>
                        <h5>
                            USING FIRST DIVIDEND PREPAID PLUS CARD
                        </h5>
                        <h6>
                            ATM
                        </h6>
                        <p class="mb-4">
                            You can use your FirstDividend Plus Prepaid Card on any firstbank or other banks’ ATM where you see the verve logo.
                        </p>
                        <h6>
                            POS TRANSACTIONS
                        </h6>
                        <p class="mb-4">
                            You can use your FirstDividend Plus Prepaid Card to purchase goods at any POS Terminal at retail outlets wherever you see the verve logo.
                        </p>
                        <h6>
                            MOBILE (Coming Soon)
                        </h6>
                        <p class="mb-4">
                            You will be able to link your FirstDividend plus card to your mobile wallet (FirstMonie) as soon as we launch the mobile version of the platform. This will enable you to make transactions via your mobile through USSD, SMS or FirstMonie App.
                        </p>
                        <h6>
                            More Benefits
                        </h6>
                        <ol class="normal-list my-4 mx-5">
                            <li>Dividend Cash Out 24/7</li>
                            <li>EMV Compliant</li>
                            <li>No Bank account required</li>
                            <li>Access and monitor your dividend with ease</li>
                        </ol>
                        <h6>
                            WEB
                        </h6>
                        <h6>
                            You can use your FirstDividend Plus Prepaid Card to make online purchases and transacctions such as; NEPA Bill, DSTV Bill, Airtime Purchase, Air Ticketing Payment etc where the Verve card is accepted.
                        </h6>
                        <p class="mb-4">
                            To activate your card for web transactions visit www.quickteller.com
                        </p>
                        <h6>
                            What happens if I lose my card or it is damaged?
                        </h6>
                        <p class="mb-4">
                            You need to contact FirstBank, FirstContact or FirstRegistrars so we can block your card, then you will need to request for a re-issue.
                        </p>
                        <h6>
                            What is FirstDividend Plus Prepaid Card?
                        </h6>
                        <p class="mb-4">
                            FirstDividend Plus Prepaid Card is a premium prepaid card issued to shareholders into which dividend amounts due to them are credited directly on the payable date. Shareholders can also load additional money into their card for future transactions and safe keeping. No more unclaimed dividends as you can claim all your dividends right away even without a bank account. It is our commitment to reducing unclaimed dividends.
                        </p>
                        <h6>
                            What is the transaction limit on the FirstDividend Plus Prepaid Card?
                        </h6>
                        <p class="mb-4">
                            The upper limit amount that can be on the card at any point in time is N250,000 (to increase your limits, kindly complete our indemnity form). However the daily transaction limits and frequency are below:
                        </p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>CHANNEL</th>
                                    <th>PURCHASE/PAYMENT</th>
                                    <th>FREQUENCY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ATM</td>
                                    <td>N100,000</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>POS</td>
                                    <td>N100,000</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>WEB</td>
                                    <td>N100,000</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--** End About Content Details **-->
            </div>
        </div>
    </div>
</div>
<!--== End Blog Page Content Area ==-->