@{
    ViewBag.Title = "e-Dividend";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
                <p class="lead">
                    This is the direct crediting of dividend warrants into the shareholders 
                    bank account. With e-Dividend, physical dividend warrants are not sent 
                    to the shareholders.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>





<div class="feature-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!--** Start About Content Details **-->
                <div class="blog-post-details-body">
                    <div class="post-content text-dark">
                        <p class="lead">
                            The service is available to all shareholders FREE of charge.
                        </p>
                        <h6>
                            FEATURES:
                        </h6>
                        <ul class="normal-list my-4 mx-5">
                            <li>It is safe and convenient</li>
                            <li>It saves time and resources</li>
                            <li>Shareholders are notified right on their mobile phone once payments are made into their respective bank accounts (applicable to shareholders on e-Notifier)</li>
                        </ul>
                        <h6>
                            ACTIVATION:
                        </h6>
                        <ol>
                            <li>Pick up a copy of the activation form from any of our offices nationwide or download a copy from www.firstregistrarsnigeria.com</li>
                            <li>Form must be duly signed and stamped by the bank into which payments are to be made</li>
                            <li>Return completed forms to The Registrar, First Registrars & Investor Services, Plot 2, Abebe Village Road, Iganmu, Lagos.</li>
                            <li>A confirmation SMS will be sent to the shareholder once activation is done (applicable to shareholders on e-Notifier).</li>
                        </ol>
                    </div>
                </div>
                <!--** End About Content Details **-->
            </div>
        </div>
    </div>
</div>
<!--== End Blog Page Content Area ==-->