@{
    ViewBag.Title = "e-Lodgement";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
                <p class="lead">
                    This is a special product designed for Stockbrokers. It is the 
                    electronic transfer of verified share certificates from First 
                    Registrars into the depository of CSCS.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>





<div class="feature-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!--** Start About Content Details **-->
                <div class="blog-post-details-body">
                    <div class="post-content text-dark">
                        <p class="lead">
                            With e-lodgment, Stockbrokers are given access to view all lodgments made to CSCS on their behalf and those that are irregular.
                        </p>
                        <p>
                            E-Lodgment also allows Stockbrokers to concentrate more on their core activities while saving time and money.
                        </p>
                        <h6>
                            Activation Fee: <strong class="font-weight-bolder">N25,000 P.A</strong>
                        </h6>
                        <h6>
                            Activation Requirements:
                        </h6>
                        <ol>
                            <li>An active e-mail address and a GSM Number</li>
                            <li>Download a copy of the activation form from our website www.firstregistrarsnigeria.com</li>
                            <li>Completed forms should be returned to The Head, E-Business, First Registrars & Investor Services, Plot 2, Abebe Village Road, Iganmu, Lagos.</li>
                            <li>A copy of the payment slip (payable into First Bank: A/c Name: First Registrars, A/c Num: 2013798363) should be attached to the form upon submission.</li>
                            <li>Activation e-mail will be sent to the stockbroker</li>
                        </ol>
                    </div>
                </div>
                <!--** End About Content Details **-->
            </div>
        </div>
    </div>
</div>
<!--== End Blog Page Content Area ==-->