@{
    ViewBag.Title = "e-Share Notifier";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
                <p class="lead">
                    E-Notifier allows shareholders to receive SMS alerts right on their
                    mobile phones on information, transactions and updates relating to
                    their share accounts with First Registrars.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>

<section class="integration-details ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 pe-lg-5">
                <div class="integration-details-wrap">
                    <p class="lead">
                        Such alerts include but not limited to the following:
                    </p>
                    <ul class="normal-list my-4 mx-5 mb-5">
                        <li>Dividends Paid</li>
                        <li>Bonuses</li>
                        <li>Verification of share certificates</li>
                        <li>AGM and EGM notifications</li>
                        <li>Change of address</li>
                        <li>Bank mandates etc</li>
                        <li>Activation Fee: N1,000 P.A</li>
                    </ul>
                    <img src="/img/first-registrars-e-share-notifier-banner.jpg" class="img-fluid rounded-custom mb-5" alt="E-Share Notifier">
                    <h4 class="mb-4">
                        Activation Requirements
                    </h4>
                    <ol>
                        <li>An active GSM Number</li>
                        <li>Download a copy of the activation form from our website www.firstregistrarsnigeria.com</li>
                        <li>Complete the form indicating your holdings, mobile phone/GSM number, signature specimen and return to the Head, E-Business, First Registrars & Investor Services, Plot 2, Abebe Village Road, Iganmu, Lagos</li>
                        <li>Attach a copy of the payment slip (payable into First Bank: A/c Name: First Registrars, A/c Num: 2013302579) to the activation form upon submission.</li>
                        <li>Activation SMS will be sent to you.</li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</section>