@{
    ViewBag.Title = "Electronic Voting";
}

<section class="hero-section pt-60 pb-120" style="background: url('assets/img/shape/dot-dot-wave-shape.svg')no-repeat bottom center">
    <div class="container">
        <div class="row align-items-center justify-content-lg-center">
            <div class="col-lg-5">
                <div class="hero-content-wrap text-center text-xl-start text-lg-start mb-5">
                    <h1 class="fw-bold display-5 mb-4">Electronic Voting</h1>
                    <p class="lead">Electronic voting (also known as e-voting) is voting using electronic systems to aid casting and counting votes.</p>
                </div>
                <div class="mb-4">
                    <h4 class="mb-3">Unmatched Accuracy</h4>
                    <p>
                        First Registrars & Investor Services Limited utilizes electronic 
                        voting devices that aid the easy counting of votes and offers instant 
                        management of polling participants (voters) and reports. This ensures 
                        that the numbers of votes are accurate against the traditional show of hands.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-xl-0 ms-lg-5">
                <img src="/img/services/e-voting.jpg" alt="hero image" class="position-relative img-fluid rounded-custom">
            </div>
        </div>
    </div>
</section>

<section class="feature-section two-bg-dark-light ptb-120">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6">
                <div class="image-wrap mb-5 mb-md-0 mb-lg-0 mb-xl-0 aos-init aos-animate" data-aos="fade-up">
                    <img src="/img/services/vote-count.jpg" alt="feature img" class="img-fluid shadow rounded-custom">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="feature-content-wrap aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                    <h2 class="mb-5">Effective Monitoring and Counting</h2>
                    <p>
                        One of the services First Registrars & Investor Services Limited 
                        offers is the counting and monitoring of votes during elections 
                        of the members of the Audit Committee at Extra-Ordinary General 
                        Meetings (EGMs) and Annual General Meetings (AGMs).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="feature-section ptb-120">
    <div class="container">
        <div class="row align-items-lg-center justify-content-between">
            <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                <div class="mb-4">
                    <h2>Unmatched Accuracy</h2>
                    <p>
                        First Registrars & Investor Services Limited utilizes electronic 
                        voting devices that aid the easy counting of votes and offers instant 
                        management of polling participants (voters) and reports. This ensures 
                        that the numbers of votes are accurate against the traditional show of hands.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="pr-lg-4 position-relative">
                    <div class="bg-light text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                        <img src="/img/services/accuracy.jpg" alt="" class="img-fluid rounded-custom shadow-sm">
                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@