@{
    ViewData["Title"] = "Download Forms";
}

<section class="app-two-feature ptb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading text-center">
                    <h2>Explore Downloadable Forms</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="app-two-single-feature d-md-flex align-items-start mb-30">
                            <div class="app-two-single-feature-icon box-four me-3 mb-4 mb-md-0">
                                <i class="far fa-file-edit"></i>
                            </div>
                            <div class="app-two-single-feature-content">
                                <h3 class="h5">Data Update</h3>
                                <p>
                                    This is a form for updating of your personal profile or data on our database.
                                </p>
                                <a href="https://access.firstregistrarsnigeria.com/forms/data-update" class="btn btn-outline-dark" target="_blank">Apply Now <i class="far fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="app-two-single-feature d-md-flex align-items-start mb-30">
                            <div class="app-two-single-feature-icon box-four me-3 mb-4 mb-md-0">
                                <i class="far fa-file-edit"></i>
                            </div>
                            <div class="app-two-single-feature-content">
                                <h3 class="h5">Change of Address</h3>
                                <p>
                                    Have you moved to a new location? Please advise us using this form.
                                </p>
                                <a href="https://access.firstregistrarsnigeria.com/forms/change-of-address" class="btn btn-outline-dark" target="_blank">Apply Now <i class="far fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    @* <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="app-two-single-feature d-md-flex align-items-start mb-30">
                            <div class="app-two-single-feature-icon box-four me-3 mb-4 mb-md-0">
                                <i class="far fa-file-edit"></i>
                            </div>
                            <div class="app-two-single-feature-content">
                                <h3 class="h5">Dividend Card</h3>
                                <p>
                                    To apply for our premium prepaid card for seamless dividend payment.
                                </p>
                                <a href="/docs/dividend-card.pdf" class="btn btn-outline-dark" target="_blank">Download Now <i class="far fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div> *@
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="app-two-single-feature d-md-flex align-items-start mb-30">
                            <div class="app-two-single-feature-icon box-four me-3 mb-4 mb-md-0">
                                <i class="far fa-file-edit"></i>
                            </div>
                            <div class="app-two-single-feature-content">
                                <h3 class="h5">E-Dividend</h3>
                                <p>
                                    To subscribe for dividend direct crediting and avoid physical dividend warrants.
                                </p>
                                <a href="https://access.firstregistrarsnigeria.com/forms/e-dividend" class="btn btn-outline-dark" target="_blank">Apply Now <i class="far fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    @* <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="app-two-single-feature d-md-flex align-items-start mb-30">
                            <div class="app-two-single-feature-icon box-four me-3 mb-4 mb-md-0">
                                <i class="far fa-file-edit"></i>
                            </div>
                            <div class="app-two-single-feature-content">
                                <h3 class="h5">Fidelity Offer/Rights Information Update Form</h3>
                                <p>
                                    Update Fidelity offer and rights information..
                                </p>
                                <a href="https://access.firstregistrarsnigeria.com/forms/fidelity-update" class="btn btn-outline-dark" target="_blank">Apply Now <i class="far fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</section>