@{
    ViewBag.Title = "KYC/Address Verification";
}

<section class="about-header-section ptb-120 position-relative overflow-hidden bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat center right">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading-wrap d-flex justify-content-between z-5 position-relative">
                    <div class="about-content-left">
                        <div class="about-info mb-5">
                            <h1 class="fw-bold display-5">
                                KYC / Address Verification
                            </h1>
                            <p class="lead pe-md-5 me-md-5">
                                Undoubtedly, having sufficient updated information about customers and
                                leveraging on it is one of the most effective tools to prevent identity
                                theft and reduce crime rates and fraud.
                                To minimize the risks associated with customers’ identity, adequate knowledge of the customers plays a vital role.
                            </p>
                        </div>
                        <img src="/img/services/kyc-3.jpg" alt="about" class="img-fluid about-img-first mt-5 rounded-custom shadow">
                    </div>
                    <div class="about-content-right">
                        <img src="/img/services/kyc.jpg" alt="about" class="img-fluid mb-5 rounded-custom shadow">
                        <img src="/img/services/kyc-1.png" alt="about" class="rounded-custom about-img-last shadow">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
    </div>
</section>

<section class="testimonial-section pt-0 pb-60">
    <div class="container">
        <div class="row pb-120">
            <div class="col-lg-8 m-auto bg-light rounded-custom p-5">
                <p class="lead">
                    At First Registrars and Investor Services, we provide the following KNOW YOUR CUSTOMER (KYC) services:
                </p>
                <ul class="normal-list my-4 mx-5">
                    <li>Address Verification</li>
                    <li>Certificate/Documents Verification</li>
                    <li>Identity Verification</li>
                    <li>Bank Account Opening Document And Other Security Instrument Delivery</li>
                    <li>Background Check</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-lg-8 m-auto">
                <h3 class="font-weight-bold mb-5">Our KYC Exercise is thorough</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-heading">
                    <h5>1. Formal Proof of Address using documentary evidence of address:</h5>
                    <p>
                        The address specified by the prospective and existing customers
                        in the customers’ application (whether individual or corporate)
                        is visited and revisited with a view to confirming the existence
                        of such address
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="section-heading">
                    <h5>2. Informal Proof of Addres</h5>
                    <p>
                        The address specified by the identifier (the guarantor) standing
                        in for the prospective/existing customer e.g. Village Head, Church
                        Head, Divisional Police Officer, etc) is visited with a view to
                        confirming the existence of such address.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="work-process ptb-120 bg-dark text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="section-heading text-center">
                    <h2>The First Advantage</h2>
                    <p>Conveniently mesh cooperative services via magnetic outsourcing whereas accurate e-commerce scalable outsourcing quality vectors.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-start">
            <div class="col-md-6 col-lg-3">
                <div class="process-card-two text-center px-4 py-5 rounded-custom mt-4">
                    <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                        <i class="fad fa-folder-tree fa-2x"></i>
                    </div>
                    <h3 class="h5">Smart Systems</h3>
                    <p class="mb-0">We provide a dedicated web-enabled platform for data exchanges..</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="process-card-two text-center px-4 py-5 rounded-custom mt-4">
                    <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                        <i class="fad fa-bezier-curve fa-2x"></i>
                    </div>
                    <h3 class="h5">Delivery</h3>
                    <p class="mb-0">We ensure submission of full description of customers’ addresses as contained in the Address Verification Report Form.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="process-card-two text-center px-4 py-5 rounded-custom mt-4">
                    <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                        <i class="fad fa-layer-group fa-2x"></i>
                    </div>
                    <h3 class="h5">Reporting</h3>
                    <p class="mb-0">We ensure prompt reports to our client(s) where there are unverified addresses within the stipulated time.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="process-card-two text-center px-4 py-5 rounded-custom mt-4">
                    <div class="process-icon border border-light bg-custom-light rounded-custom p-3">
                        <i class="fad fa-truck fa-2x"></i>
                    </div>
                    <h3 class="h5">Commitment</h3>
                    <p class="mb-0">We ensure that there are completed Address Verification Report Forms forwarded on a weekly basis or as agreed to our client(s).</p>
                </div>
            </div>
        </div>
    </div>
</section>