@{
    ViewBag.Title = "M-Access";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
                <p class="lead">
                    M-Access gives you unlimited access to your share accounts with First 
                    Registrars via your mobile phone.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>

<div class="feature-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!--** Start About Content Details **-->
                <div class="blog-post-details-body">
                    <div class="post-content text-dark">
                        <p>
                            M-Access also known as Mobile Phone Share Account Enquiry and Account on the Move is the mobile phone version of our Online-Access package. The service allows shareholders who have subscribed to it to enjoy an unlimited access to their share accounts anytime and anywhere within the network coverage of their mobile phone operator, no internet connectivity is required for this service.
                        </p>
                        <h6>
                            Features
                        </h6>
                        <ul class="normal-list my-4 mx-5">
                            <li>Stock Balance Enquiries</li>
                            <li>Dividend Enquiries</li>
                            <li>No internet required (works with SMS) and lots more</li>
                            <li>The difference between M-Access and Online-Access is that online-access gives full details of transactions of the shareholders' share accounts, allows for e-change of address etc; M-access gives the summary of share accounts and holdings at a glance while on the move with your mobile phone. Upon activation, simply text your unique PIN to the shortcode 6591.</li>
                        </ul>
                        <p>
                            To get started, simply text your assigned PIN from any phone number to 6591 or send HELP to 6591.
                        </p>
                        <h6>
                            Activation Fee: <strong class="font-weight-bolder">N1,000 P.A</strong>
                        </h6>
                        <h6>
                            Activation Requirements:
                        </h6>
                        <ol>
                            <li>An active GSM/Mobile Phone number</li>
                            <li>Download a copy of the activation form from our website www.firstregistrarsnigeria.com</li>
                            <li>Complete the form indicating your holdings, mobile phone/GSM number, signature specimen and return to the Head, E-Business, First Registrars & Investor Services, Plot 2, Abebe Village Road, Iganmu, Lagos</li>
                            <li>Attach a copy of the payment slip (payable into First Bank: A/c Name: First Registrars, A/c Num: 2011760908) to the activation form upon submission.</li>
                            <li>Activation SMS containing your secret code will be sent to you.</li>
                        </ol>
                    </div>
                </div>
                <!--** End About Content Details **-->
            </div>
        </div>
    </div>
</div>
<!--== End Blog Page Content Area ==-->