@{
    ViewBag.Title = "First Registrars Mobile App";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
                <p class="lead">
                    It is a mobile application designed for Investors and Shareholders with 
                    which they can interact with their investments under the purview of First Registrars.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>



<div class="feature-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!--** Start About Content Details **-->
                <div class="blog-post-details-body">
                    <div class="post-content text-dark">
                        <p class="lead">
                            It gives shareholders unlimited access to all the information relating to their investments, dividends and many more.
                        </p>
                        <h6>
                            What are the Benefits?
                        </h6>
                        <ul class="normal-list my-4 mx-5">
                            <li>With the Mobile App, you can access your stockholding/shareholding balances without necessarily visiting our office</li>
                            <li>You can access the status of your dividends both claimed and unclaimed</li>
                            <li>You can confirm your bank mandate status</li>
                            <li>You can pre-register for AGMs and other corporate meetings right from the App</li>
                            <li>You can verify your correspondence address, email address and lots more</li>
                        </ul>
                        <h6>
                            How does it work?
                        </h6>
                        <ul class="normal-list my-4 mx-5">
                            <li>Simply visit the google playstore or apple store on your mobile phone to download “First Registrars Mobile App”</li>
                            <li>Open the App to register your personal details for first time users, at this point, a PIN will be sent to your mobile phone and will be used subsequently to access your investment information on the App</li>
                            <li>You will be prompted to change the default PIN to your preferred PIN</li>
                            <li>Login with your mobile phone number and your PIN and you are set to enjoy seamless interactions with your investments.</li>
                        </ul>
                    </div>
                </div>
                <!--** End About Content Details **-->
            </div>
        </div>
    </div>
</div>
<!--== End Blog Page Content Area ==-->