@{
    ViewBag.Title = "Online Access Account";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
                <p class="lead">
                    This is an internet window that allows shareholders online access to 
                    their share accounts with First Registrars.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>

<div class="feature-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!--** Start About Content Details **-->
                <div class="blog-post-details-body">
                    <div class="post-content text-dark">
                        <p class="lead">
                            Shareholders upon activation are given their unique logon details containing a username and a password. Activation fee for the service covers for all holdings.
                        </p>
                        <h6>
                            Features and Benefits:
                        </h6>
                        <ul class="normal-list my-4 mx-5">
                            <li>Ability to manage and print statement of accounts online</li>
                            <li>Ability to update and make e-change of address by shareholders</li>
                            <li>Ability to view dividends history</li>
                        </ul>
                        <h6>
                            Activation Fee: <strong class="font-weight-bolder">N1,000 P.A</strong>
                        </h6>
                        <hr class="my-5" />
                        <h6>
                            Activation Requirements:
                        </h6>
                        <ol>
                            <li>An active e-mail address and a GSM Number</li>
                            <li>Download a copy of the activation form from our website www.firstregistrarsnigeria.com</li>
                            <li>Complete the form indicating your holdings, e-mail address, signature specimen and return to the Head, E-Business, First Registrars & Investor Services, Plot 2, Abebe Village Road, Iganmu, Lagos</li>
                            <li>Attach a copy of the payment slip (payable into First Bank: A/c Name: First Registrars, A/c Num: 2013798370) to the</li>
                            <li>activation form upon submission.</li>
                            <li>An activation e-mail will be sent to you with your log-on details.</li>
                        </ol>
                    </div>
                </div>
                <!--** End About Content Details **-->
            </div>
        </div>
    </div>
</div>
<!--== End Blog Page Content Area ==-->