@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="app-two-feature ptb-60">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-left">
                    <h2>Privacy Policy</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p><strong>What is this Privacy Policy for?</strong></p>
                <p>First Registrars & Investor Services Limited (“FRIS”, “We”) values your Personal Data and we are committed to protecting your privacy whenever you interact with us. Please read this Privacy Notice to understand our policies, processes and procedures regarding the processing of your personal data.</p>
                <p>By this Policy, we explain to you how your Personal Data is collected, used, managed and transferred by First Registrars & Investor Services Limited and also explain how you can update your Personal Data with us and exercise your rights in respect of the Personal Data provided to us.</p>
                <p><strong>The Personal Data that We Collect</strong></p>
                <p>We collect Personal Data that you give to us, for example, where you lodge complaint with us, request for further information or inquire about our product, fill a form, apply for a job through our website or you subscribe to newsletters on our website.</p>
                <p>We may also automatically collect some technical information when you visit our website such as your IP address, and information about your visit, such as the pages that you viewed. This information helps us understand customer interests and helps us improve our website. When you visit our site, the pages that you look at, and a short text file called a cookie, are downloaded to your computer. By visiting and using our website, you agree to our use of cookies in line with First Registrars & Investor Services Limited policies.</p>
                <p><strong>What Purpose do we use your Personal Data?</strong></p>
                <p>We may process your Personal Data to communicate with you (including sending marketing or promotional materials to you), provide you with further information about our products and how we can serve you better, respond to your enquiries or requests, and process your application for employment with First Registrars & Investor Services Limited or to fulfill our contractual obligations with you. We may also process your Personal Data to comply with provisions of applicable laws.</p>
                <p><strong>What Constitutes your Consent?</strong></p>
                <p>Where processing of Personal Data is based on consent, we shall obtain the requisite consent at the time of collection of the Personal Data. In this regard, you consent to the processing of your Personal Data when you access our platforms, or use our services, content, features, technologies or functions offered on our website or other digital platforms. You can withdraw your consent at any time but such withdrawal will not affect the lawfulness of processing based on consent given before its withdrawal.</p>
                <p><strong>Who do we share your Personal Data with?</strong></p>
                <p>We respect your privacy and limit disclosure of your Personal Data to third parties. We do not sell, give or trade any Personal Data that we obtain from you to any third party for data-mining or marketing purposes. However, we may share your Personal Data with service providers engaged by us to provide services to First Registrars & Investor Services Limited subject to appropriate data security and protection. We may also share your information where there is a regulatory or statutory obligation to disclose such Personal Data in accordance with provisions of applicable laws.</p>
                <p><strong>Security and Retention of your Personal Data</strong></p>
                <p>Your Personal Data is kept private and we make every effort to keep your Personal Data secure, including restricting access to your Personal Data with us on a need to know basis. We require our staff and any third parties who carry out any work on our behalf to comply with appropriate security standards to protect your Personal Data.</p>
                <p>We take appropriate measures to ensure that your Personal Data is only processed for the minimum period necessary in line with the purposes set out in this Notice or as required by applicable laws, until a time it is no longer required or has no use. Once your Personal Data is no longer required, we destroy it in a safe and secure manner.</p>
                <p><strong>Your Rights</strong></p>
                <p>First Registrars & Investor Services Limited collects Personal Data only for the purposes identified in this Policy and such information cannot be reused for another purpose that is incompatible with the original purpose.</p>
                <p>You can exercise the following rights with respect to your Personal Data with First Registrars & Investor Services Limited:</p>
                <ul>
                    <li>Request for and access your Personal Data collected and stored by First Registrars & Investor Services Limited;</li>
                    <li>Withdraw consent at any time. For example, you can withdraw your consent to receipt of our marketing or promotional materials or unsubscribe to our newsletters;</li>
                    <li>Object to automated decision making;</li>
                    <li>Request rectification and modification of Personal Data kept by First Registrars & Investor Services Limited;</li>
                    <li>Request for deletion of your Personal Data;</li>
                    <li>Be informed of and entitled to provide consent prior to the processing of Personal Data for purposes other than that for which the Personal Data were collected;</li>
                    <li>Request that First Registrars & Investor Services Limited restricts processing of your Personal Data; and</li>
                    <li>Request for information regarding any specific processing of your personal data.</li>
                </ul>
                <p><strong>Changes to our Privacy Policy</strong></p>
                <p>Due to constant changes in technology and regulatory requirements, we may need to change our privacy policies or update this Notice from time to time. You will always be able to find the most recent version of our updated privacy policy on this site.</p>
                <p><strong>Data Retention Principles</strong></p>
                <p>The following are some of the principles to be followed by First Registrars & Investor Services Limited with respect to retention or storage of records/data:</p>
                <ol>
                    <li>First Registrars & Investor Services Limited retains data in an identifiable format only for the interval that is necessary as identified by the purposes for which the data/record was collected/developed.</li>
                    <li>First Registrars & Investor Services Limited does not keep data for longer than necessary to fulfill the identified lawful business purposes or as long as required by applicable law.</li>
                    <li>First Registrars & Investor Services Limited would justify the requirements to retain data for periods longer than the maximum retention period as per business and regulatory requirements if required.</li>
                </ol>
                <p>The rationale behind data retention includes but is not limited to the protection of the FRIS interest, preservation of evidence, and conformation to good business practices.</p>
                <p><strong>Exceptions to Data Retention Period</strong></p>
                <p>There are certain circumstances which may be regarded as exceptions to data retention periods wherein FRIS will become subject to a duty to preserve records/data beyond the stated retention period. In such instances, the Company may not destroy the records/data until further notice.</p>
                <p>The circumstances which may constitute an exception to data retention periods include:</p>
                <ul>
                    <li>Where the terms and conditions of a specific contract or agreement requires a longer retention period than that set out in this Policy;</li>
                    <li>Where a specific legislation requires longer retention periods than the ones specified in this Policy;</li>
                    <li>Where the records or data form the subject matter of an ongoing or anticipated litigation or government proceeding. In particular, First Registrars & Investor Services Limited shall not alter, destroy or conceal any records or data with the intent to impede or obstruct or influence any litigation or government proceedings or in relation to the completion of such litigation or government proceeding.</li>
                </ul>
                <h2 class="mt-4">COOKIES POLICY</h2>
                <p>This Cookies Policy explains how we use cookies and the choices you have. Except as otherwise stated in this Policy, our Privacy Policy will apply to processing of data that we collect via cookies.</p>
                <p>By using our website (by clicking, navigating or scrolling), you are consenting to our use of cookies in accordance with this Policy. If you do not agree to our use of cookies, you can prevent the installation of cookies through the settings of your browser or not use our website at all. However, if you disable the use of cookies, this might cause some parts of this website not to function properly for you and it may impact your user experience on this site.</p>
                <p><strong>What are Cookies?</strong></p>
                <p>Cookies are messages or small files that are placed on your web browser when you visit an internet site. Cookies are useful and do a lot of different things, including allowing a website to recognize a user’s device, improving online experience etc.</p>
                <p><strong>How and why do we Use Cookies?</strong></p>
                <p>We use cookies when you access our websites and our online products and services to make the site work better and to help us understand how you use our site. Cookies enable us to offer tailored products and to understand the information we receive about you, including information about your use of other websites and apps, whether or not you have an account with us. Cookies help us provide, protect and improve our products and services, by personalizing, tailoring and measuring the services and products we provide for satisfactory and safe experience. We also use them to help authentication of users, assess performance and functionality of our online products and services, and analytical research.</p>
                <h2 class="mt-4">Contact & Communication</h2>
                <p>If you would like further information on this Notice, or to contact our Data Protection Officer, you may contact us at First Registrars & Investor Services Limited – No. 2, Abebe Village Road, Orile-Iganmu, Lagos State or at <a href="mailto:info@firstregistrarsnigeria.com">info@firstregistrarsnigeria.com</a>.</p>
            </div>
        </div>

    </div>
</section>