@{
    ViewBag.Title = "Services";
}

<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">Quality Services</h1>
                <p class="lead">
                    Outstanding qualitity service offerings that extends world-class
                    excellence to your esteemed customers.
                </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>

<section class="feature-section ptb-120">
    <div class="container">
        <div class="row align-items-lg-center justify-content-between">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                <div class="mb-4">
                    <h2>Share Data / Register Management</h2>
                    <p>
                        We maintain client companies Register of Shareholders including change of 
                        addresses, bank mandate, probate or letters of administration, Change of 
                        names e.t.c, and facilitate payment of dividend warrants/interest to 
                        shareholders/bondholders respectively.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="pr-lg-4 mt-md-4 position-relative">
                    <div class="bg-light text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                        <img src="/img/services/services.jpg" alt="Share Data / Register Management" class="img-fluid shadow-sm rounded-custom">
                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-section bg-light pt-60 pb-120">
    <div class="container">
        <div class="row align-items-lg-center justify-content-between">
            <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                <div class="mb-4">
                    <h2>KYC / Address Verification</h2>
                    <p>
                        Undoubtedly, having sufficient updated information about customers and 
                        leveraging on it is one of the most effective tools to prevent identity 
                        theft and reduce crime rates and fraud. To minimize the risks associated 
                        with customers’ identity, adequate knowledge of the customers plays a vital role.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="pr-lg-4 position-relative">
                    <div class="bg-light text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                        <img src="/img/services/kyc.jpg" alt="KYC / Address Verification" class="img-fluid rounded-custom shadow-sm">
                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-section ptb-120">
    <div class="container">
        <div class="row align-items-lg-center justify-content-between">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                <div class="mb-4">
                    <h2>Electronic Voting</h2>
                    <p>
                        Electronic voting (also known as e-voting) is voting using electronic 
                        systems to aid casting and counting votes.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="pr-lg-4 mt-md-4 position-relative">
                    <div class="bg-light text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                        <img src="/img/services/e-voting.jpg" alt="E-Voting" class="img-fluid shadow-sm rounded-custom">
                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>