@model TeamMember

@{
    ViewBag.Title = Model.Name;
}

<div class="element-content-area ptb-60">
    <div class="container">
        <div class="row mtn-30">
            <div class="col-md-10 col-lg-9 m-auto">
                <div class="mb-5">
                    <img src="/img/team/@Model.Photo" class="img-fluid rounded-3 shadow" alt="@Model.Name" style="max-height: 300px;"/>
                </div>
                <div class="mb-3">
                    <h1 class="h4 fw-bold">@Model.Name</h1>
                    <h6>@Model.Designation</h6>
                </div>
                <div class="fs-6 mb-5">
                    @Html.Raw(Model.Html)
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="/about/team">
                        <i class="far fa-arrow-left me-2"></i> Back to Team
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>