@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="app-two-feature ptb-60">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-left">
                    <h2>WHISTLEBLOWING POLICY</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>Introduction</h3>
                <p>First Registrars & Investor Services Ltd is committed to the highest standards of openness, probity and accountability.</p>
                <p>An important aspect of accountability and transparency is a mechanism to enable staff and other members of the Company to voice concerns in a responsible and effective manner. It is a fundamental term of every contract of employment that an employee will faithfully serve his or her employer and not disclose confidential information about the employer’s affairs. Nevertheless, where an individual discovers information which they believe shows serious malpractice or wrongdoing within the organisation then this information should be disclosed internally without fear of reprisal, and there should be arrangements to enable this to be done independently of line management (although in relatively minor instances the line manager would be the appropriate person to be told).</p>
                <p>The Public Interest Disclosure Act, which came into effect in 1999, gives legal protection to employees against being dismissed or penalised by their employers as a result of publicly disclosing certain serious concerns. The Company has endorsed the provisions set out below so as to ensure that no members of staff should feel at a disadvantage in raising legitimate concerns.</p>
                <p>It should be emphasised that this policy is intended to assist individuals who believe they have discovered malpractice or impropriety. It is not designed to question financial or business decisions taken by the Company nor should it be used to reconsider any matters which have already been addressed under harassment, complaint, disciplinary or other procedures. Once the "whistleblowing” procedures are in place, it is reasonable to expect staff to use them rather than air their complaints outside the Company.</p>

                <h3>Scope of Policy</h3>
                <p>This policy is designed to enable employees of the Company to raise concerns internally and at a high level and to disclose information which the individual believes shows malpractice or impropriety. This policy is intended to cover concerns which are in the public interest and may at least initially be investigated separately but might then lead to the invocation of other procedures e.g. disciplinary. These concerns could include:</p>
                <ul>
                    <li>Financial malpractice or impropriety or fraud</li>
                    <li>Failure to comply with a legal obligation or Statutes</li>
                    <li>Dangers to Health & Safety or the environment</li>
                    <li>Criminal activity</li>
                    <li>Improper conduct or unethical behaviour</li>
                    <li>Attempts to conceal any of these</li>
                </ul>

                <h3>Safeguards</h3>
                <h4>Protection</h4>
                <p>This policy is designed to offer protection to those employees of the Company who disclose such concerns provided the disclosure is made:</p>
                <ul>
                    <li>in good faith</li>
                    <li>in the reasonable belief of the individual making the disclosure that it tends to show malpractice or impropriety and if they make the disclosure to an appropriate person (see below). It is important to note that no protection from internal disciplinary procedures is offered to those who choose not to use the procedure. In an extreme case malicious or wild allegations could give rise to legal action on the part of the persons complained about.</li>
                </ul>

                <h4>Confidentiality</h4>
                <p>The Company will treat all such disclosures in a confidential and sensitive manner. The identity of the individual making the allegation may be kept confidential so long as it does not hinder or frustrate any investigation. However, the investigation process may reveal the source of the information and the individual making the disclosure may need to provide a statement as part of the evidence required.</p>

                <h4>Anonymous Allegations</h4>
                <p>This policy encourages individuals to put their name to any disclosures they make. Concerns expressed anonymously are much less credible, but they may be considered at the discretion of the Company.</p>
                <p>In exercising this discretion, the factors to be taken into account will include:</p>
                <ul>
                    <li>The seriousness of the issues raised</li>
                    <li>The credibility of the concern</li>
                    <li>The likelihood of confirming the allegation from attributable sources</li>
                </ul>

                <h4>Untrue Allegations</h4>
                <p>If an individual makes an allegation in good faith, which is not confirmed by subsequent investigation, no action will be taken against that individual. In making a disclosure the individual should exercise due care to ensure the accuracy of the information. If, however, an individual makes malicious or vexatious allegations, and particularly if he or she persists with making them, disciplinary action may be taken against that individual.</p>

                <h3>Procedures for Making a Disclosure</h3>
                <p>On receipt of a complaint of malpractice, the member of staff who receives and takes note of the complaint, must pass this information as soon as is reasonably possible, to the appropriate designated investigating officer as follows:</p>
                <ul>
                    <li>Complaints of malpractice will be investigated by the appropriate CFO unless the complaint is against the CFO or is in any way related to the actions of the Group head. In such cases, the complaint should be passed to the Chief Executive Officer for referral.</li>
                    <li>In the case of a complaint, which is any way connected with but not against the Director, the Chief Executive Officer will nominate a Senior Manager to act as the alternative investigating officer.</li>
                    <li>Complaints against the Chief Executive should be passed to the Chairman who will nominate an appropriate Investigating Officer.</li>
                    <li>The complainant has the right to bypass the line management structure and take their complaint direct to the Chairman. The Chairman has the right to refer the complaint back to Management if he/she feels that the Management without any conflict of interest can more appropriately investigate the complaint.</li>
                </ul>
                <p>Should none of the above routes be suitable or acceptable to the complainant, then the complainant may approach one of the following individuals who have been designated and trained as independent points of contact under this procedure. They can advise the complainant on the implications of the legislation and the possible internal and external avenues of complaint open to them.</p>
                <p>If there is evidence of criminal activity then the investigating officer should inform the police. The Company will ensure that any internal investigation does not hinder a formal police investigation.</p>

                <h3>Whistleblowing Mechanism</h3>
                <p>The Officers with telephone number and e-mail address to be contacted by the Whistleblower shall be:</p>
                <div class="contact-info">
                    <p>1. MD/CEO: 08022338610, bayolugbemi@firstregistrarsnigeria.com</p>
                    <p>2. HCD: 09059394199, henry.iyinbor@firstregistrarnigeria.com</p>
                </div>
                <p>The designated Officers who are authorised to receive and act on reports shall be:</p>
                <div class="designated-officers">
                    <p>1. Mr. Ezekiel Oni</p>
                    <p>2. Mr. Yaya Lawal</p>
                    <p>3. Mr. Oluwaseyi Adetola</p>
                    <p>4. Mr. Henry Iyinbor</p>
                </div>

                <h3>Timescales</h3>
                <p>Due to the varied nature of these sorts of complaints, which may involve internal investigators and / or the police, it is not possible to lay down precise timescales for such investigations. The investigating officer should ensure that the investigations are undertaken as quickly as possible without affecting the quality and depth of those investigations.</p>
                <p>The investigating officer, should as soon as practically possible, send a written acknowledgement of the concern to the complainant and thereafter report back to them in writing the outcome of the investigation and on the action that is proposed.</p>
                <p>If the investigation is a prolonged one, the investigating officer should keep the complainant informed, in writing, as to the progress of the investigation and as to when it is likely to be concluded.</p>

                <h3>Investigating Procedure</h3>
                <p>The investigating officer should follow these steps:</p>
                <ul>
                    <li>Full details and clarifications of the complaint should be obtained.</li>
                    <li>The investigating officer should inform the member of staff against whom the complaint is made as soon as is practically possible. The member of staff will be informed of their right to be accompanied by a representative at any future interview or hearing held under the provision of these procedures.</li>
                    <li>The investigating officer should consider the involvement of the Company Internal Control/compliance Officers at this stage and should consult with the Chairman / Chief Executive</li>
                    <li>The allegations should be fully investigated by the investigating officer with the assistance where appropriate, of other individuals / bodies.</li>
                    <li>A judgement concerning the complaint and validity of the complaint will be made by the investigating officer. This judgement will be detailed in a written report containing the findings of the investigations and reasons for the judgement. The report will be passed to the Chief Executive or Chairman as appropriate.</li>
                    <li>The Chief Executive / Chairman will decide what action to take. If the complaint is shown to be justified, then they will invoke the disciplinary or other appropriate Company procedures.</li>
                    <li>The complainant should be kept informed of the progress of the investigations and, if appropriate, of the final outcome.</li>
                </ul>
                <p>If the complainant is not satisfied that their concern is being properly dealt with by the investigating officer, they have the right to raise it in confidence with the Chief Executive / Chairman, or one of the designated persons described above.</p>
                <p>If the investigation finds the allegations unsubstantiated and all internal procedures have been exhausted, but the complainant is not satisfied with the outcome of the investigation, the Company recognises the lawful rights of the complainant to make disclosures to external bodies, such as the Regulators), or, where justified, elsewhere.</p>
                <p>The purposes of investigation are to:</p>
                <ul>
                    <li>Establish if a wrongdoing has occurred based on the concern(s) raised, and if so, to what extent; and</li>
                    <li>To minimize the risk of further wrongdoing, prevent any further loss of assets, damage to the reputation of the Bank and if possible protect all sources of evidence.</li>
                </ul>

                <h3>Protection/Compensation for Whistle Blower</h3>
                <p>The Company has an obligation to adequately protect the whistle-blower. Therefore, reprisal against any employee who in good faith reports a concern about illegal or unethical conduct will not be tolerated.</p>
                <p>The Bank is also committed to maintaining confidentiality fully possible and provides assurance that all reports will be subject to appropriate investigation and conclusion through an efficient process.</p>
                <p>Therefore, whistle-blowers are encouraged to disclose their names when filing reports to enhance credibility. However, anonymous disclosures may be considered on the following discretionary basis:</p>
                <ul>
                    <li>The seriousness of the issues</li>
                    <li>The significance and credibility of the concerns</li>
                    <li>The possibility of confirming the allegation</li>
                </ul>
                <p>Whistle-blowers either internal or external may be rewarded depending in the gravity of the case. Compensation may also be provided to whistle-blowers who may have suffered loss during the process. This is however at the discretion of management.</p>

                <h3>Reports to Board Audit Committee</h3>
                <p>The Chief Internal Auditor or Chief Compliance Officer shall provide the Chairman of the Board Audit Committee with a summary of cases reported and the result of the investigation.</p>
            </div>
        </div>

    </div>
</section>
