<table cellspacing="0" cellpadding="0" style="background-color: #F2F2F2; border: 1px solid #eee; width: 100%;">
    <tbody>
        <tr>
            <td>
                <div style="background-color: #fff; border: 1px solid #eee; border-bottom: 4px solid #12406e; box-sizing: border-box; font-family: Lato, Helvetica, 'Helvetica Neue', Arial, 'sans-serif'; padding: 40px 50px; margin: 40px auto; max-width: 600px; overflow: hidden; width: 600px;">

                    <div style="display: flex; align-items: center; border-bottom: 1px solid #eee; padding-bottom: 20px; margin-bottom: 30px;">
                        <div style="background-image: url([site_url]/img/logo.png); background-repeat: no-repeat; background-position: center; height: 40px; width: 170px; margin: 0px;">
                        </div>
                    </div>

                    @RenderBody()

                </div>
            </td>
        </tr>
    </tbody>
</table><div>
</div>