<h2 style="color: #253745; font-size: 24px; font-weight: normal; margin: 0; margin-bottom: 30px;">
    Hi Admin,
</h2>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            We are notifying you of a new payment for online access subscription,
            please review the details below;
        </span>
    </span>
</p>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            Description: @Model.Description<br/>
            Payment Date: @Model.Date<br/>
            Amount Paid: @Model.Amount @Model.Currency<br/>
            Paid to: @Model.PaidTo<br/>
            Payment Ref: @Model.PayRef<br/>
        </span>
    </span>
</p>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <img src="data:image/png;base64,@Model.Image64" style="max-width: 450px;">
    </span>
</p>

<div>
    <a style="border: none; border-radius: 4px; color: #fff; cursor: pointer; display: inline-block; font-size: 16px; padding: 15px 30px; background-color: #12406e; text-decoration: none; margin: 25px 0;" href="https://firstregistrarsnigeria.com/admin/payments/pending" target="null">View Payments</a>
</div>

<p style="margin: 0px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px; line-height: 28px;">
            Thank you.
        </span>
    </span>
</p>