<h2 style="color: #253745; font-size: 24px; font-weight: normal; margin: 0; margin-bottom: 30px;">
    Hi @Model.Name,
</h2>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            We are notifying you of a new support ticket #@Model.Code created. Please use
            the button below to view the ticket.
        </span>
    </span>
</p>

<div>
    <a style="border: none; border-radius: 4px; color: #fff; cursor: pointer; display: inline-block; font-size: 16px; padding: 15px 30px; background-color: #12406e; text-decoration: none; margin: 25px 0;" href="https://firstregistrarsnigeria.com/access/ticket/@Model.Code" target="null">View Ticket</a>
</div>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            If you need help with setting up your account, please reach out to our support team.
        </span>
    </span>
</p>

<p style="margin: 0px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px; line-height: 28px;">
            Thank you.
        </span>
    </span>
</p>