<h2 style="color: #253745; font-size: 24px; font-weight: normal; margin: 0; margin-bottom: 30px;">
    Hi @Model.name,
</h2>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 22px; margin: 0px 0px 30px; line-height: 32px;">
            Your payment was successful.
        </span>
    </span>
</p>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            This is to notify you that we have received your payment.
        </span>
    </span>
</p>

<p style="margin: 0px 0px 30px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px 0px 30px; line-height: 28px;">
            If you need help with your account, please reach out to our support team.
        </span>
    </span>
</p>

<p style="margin: 0px; line-height: 22px;">
    <span class="colour" style="color:rgb(37, 55, 69)">
        <span class="size" style="font-size: 17px; margin: 0px; line-height: 28px;">
            Thank you.
        </span>
    </span>
</p>