<section class="app-two-cta ptb-120 text-white bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-xl-6">
                <div class="position-relative text-center pe-5 mb-5">
                    <img src="/img/promo/abc-rights.jpg" alt="ABC Transport Plc Rights Issue" class="img-fluid position-relative z-5">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-10">
                <div class="app-two-cta-right px-md-0 pt-5 pt-md-0">
                    <div class="section-heading text-white">
                        <h2 class="text-white">
                            ABC Transport Plc Rights Issue
                        </h2>
                        <p>
                            Acceptance List Opens: <span class="fw-bold">Monday May 16, 2022</span><br />
                            Acceptance List Closes: <span class="fw-bold">Tuesday May 31, 2022</span>
                        </p>
                    </div>
                    <div class="action-btns mt-5">
                        <a target="_blank" href="/docs/abc-rights-circular-updated.pdf" class="btn btn-outline-light">Download Right Circular</a>
                        <a target="_blank" href="https://firstregistrarsedocs.netlify.com/" class="btn btn-outline-light">Download Rights Circular Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>