<section class="app-two-cta ptb-120 text-white bg-dark">
    <div class="container">
        <div class="row align-items-start justify-content-lg-between">
            <div class="col-lg-6 col-xl-6">
                <div class="position-relative text-center pe-5 mb-5">
                    <img src="/img/promo/deap-agm-24.png" alt="The 11th AGM of DEAP Capital Management & Trust PLC" class="img-fluid position-relative z-5">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-10">
                <div class="app-two-cta-right px-md-0 pt-5 pt-md-2">
                    <div class="section-heading text-white">
                        <h2 class="text-white">
                            The 11th AGM of DEAP Capital Management & Trust PLC
                        </h2>
                        <p>
                            Dear Shareholder,
                            The 11th AGM of DEAP Capital Management & Trust PLC will hold at 
                            <span class="fw-bold">the Heights Hotel, 1 General Ogomudia Boulevard, Off Road 47, 
                            Babatunde Anj ous Street, Off Admiralty Way, Lekki Scheme 1, 
                            Lagos</span>, on <span class="fw-bold">3rd October 2024, at 11 a.m.</span>
                        </p>
                    </div>
                    <div class="action-btns">
                        <a target="_blank" href="https://bit.ly/DEAPN"
                           class="btn btn-outline-light mb-1">
                            Download Notice
                       </a>
                        <a target="_blank" href="https://bit.ly/DEAPAR"
                           class="btn btn-outline-light mb-1">
                            Download Annual Report & Accounts
                       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>