<section class="app-two-cta ptb-120 text-white bg-dark">
    <div class="container">
        <div class="row align-items-start justify-content-lg-between">
            <div class="col-lg-6 col-xl-6">
                <div class="position-relative text-center pe-5 mb-5">
                    <img src="/img/promo/fidelity-offer-24.png" alt="Fidelity Public Offer 2024" class="img-fluid position-relative z-5">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-10">
                <div class="app-two-cta-right px-md-0 pt-5 pt-md-0">
                    <div class="section-heading text-white">
                        <h2 class="text-white">
                            Fidelity Public Offer 2024
                        </h2>
                        <p>
                            Fidelity Bank Public Offer is Live!<br/>

                            Own a Slice of Our Bank. Be a part of Fidelity Bank's Public Offer of 10 billion
                            Ordinary Shares of 50 kobo each <span class="fw-bold">₦9.75 kobo per Share.</span> Contact your stockbroker to purchase
                            shares today. Offer closes <span class="fw-bold">Monday July 29, 2024</span>
                        </p>
                    </div>
                    <div class="action-btns">
                        @* <a target="_blank" href="https://firstregistrarsnigeria.com/access/share-offer/199015871" class="btn btn-outline-light mb-1">Apply Online</a> *@
                        <a target="_blank" href="~/docs/fidelity-public-offer-24.pdf" class="btn btn-outline-light mb-1">Download Form</a>
                        <a target="_blank" href="https://docs.firstregistrarsapi.com/" class="btn btn-outline-light mb-1">Get Right Issue Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>