<section class="app-two-cta ptb-120 text-white bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-xl-6">
                <div class="position-relative text-center pe-5 mb-5">
                    <img src="/img/promo/nb-agm.jpg" alt="ABC Transport Plc Rights Issue" class="img-fluid position-relative z-5">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-10">
                <div class="app-two-cta-right px-md-0 pt-5 pt-md-0">
                    <div class="section-heading text-white">
                        <h2 class="text-white">
                            Nigerian Breweries Plc
                        </h2>
                        <p>
                            Notice of Extra-Ordinary General Meeting
                        </p>
                        <p>
                            Date: <span class="fw-bold">Thursday, 8th December, 2022</span><br />
                            Time: <span class="fw-bold">10:00am</span>
                        </p>
                    </div>
                    <div class="action-btns mt-5">
                        <a target="_blank" href="/docs/nb-agm-notice-2022.pdf" class="btn btn-outline-light">Download Notice of Meeting</a>
                        <a target="_blank" href="/docs/nb-agm-form-2022.pdf" class="btn btn-outline-light">Download Proxy Form</a>
                        <a target="_blank" href="https://bit.ly/NBLmemorando" class="btn btn-outline-light mt-2">Memorandum and Articles of Association</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>