<section class="app-two-cta ptb-120 text-white bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-xl-6">
                <div class="position-relative text-center pe-5 mb-5">
                    <img src="/img/nb.jpg" alt="" class="img-fluid position-relative z-5">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-10">
                <div class="app-two-cta-right px-md-0 pt-5 pt-md-0">
                    <div class="section-heading text-white">
                        <h4 class="h6">Nigerian Breweries - Shareholder Alert</h4>
                        <h2 class="text-white">
                            Share for Cash Divident Election Scheme
                        </h2>
                        <p>
                            An option available to qualifying shareholders to receive new ordinary 
                            shares in the Company instead of final dividend in cash
                        </p>
                    </div>
                    <div class="action-btns mt-5">
                        <a target="_blank" href="/docs/NB_Plc_Explanatory_Notes_on_the_Share_for_Cash_Dividend_Election.pdf" class="btn btn-outline-light">Download Explanatory Notes</a>
                        <a target="_blank" href="/docs/NB Plc - Share for Cash Dividend Election Form.pdf" class="btn btn-outline-light">Download Election Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>