<section class="app-two-cta ptb-120 text-white bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-xl-6">
                <div class="position-relative text-center pe-5 mb-5">
                    <img src="/img/promo/presco-agm-24.jpg" alt="Presco PLC - Notice of Annual General Meeting" class="img-fluid position-relative z-5">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-10">
                <div class="app-two-cta-right px-md-0 pt-5 pt-md-0">
                    <div class="section-heading text-white">
                        <h2 class="text-white">
                            Presco Plc
                        </h2>
                        <p>
                            Notice of Annual General Meeting
                        </p>
                        <p>
                            Venue: <span class="fw-bold">The Jewel Aeida Event Centre, Plot 105B, Hakeem Dickson Link Road, Lekki Phase 1, Lagos State </span>
                            Date: <span class="fw-bold">Tuesday, 6th June, 2024</span><br />
                            Time: <span class="fw-bold">12:00pm</span>
                        </p>
                    </div>
                    <div class="action-btns mt-5">
                        <a target="_blank" href="~/docs/presco-24/notice.pdf" class="btn btn-outline-light mb-1">Download Notice of Meeting</a>
                        <a target="_blank" href="~/docs/presco-24/proxy-form.pdf" class="btn btn-outline-light mb-1">Download Proxy Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>