<div class="modal fade" id="kt_modal_invite_friends" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog mw-650px">
        <div class="modal-content">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000"> <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" /> <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" /> </g> </svg> </span>
                </div>
            </div>
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                <div class="text-center mb-13">
                    <h1 class="mb-3">Invite a Friend</h1>
                    <div class="text-gray-400 fw-bold fs-5">
                        If you need more info, please check out
                        <a href="#" class="link-primary fw-bolder">FAQ Page</a>.
                    </div>
                </div>
                <div class="btn btn-light-primary fw-bolder w-100 mb-8">
                    <img alt="Logo" src="~/assets/media/svg/brand-logos/google-icon.svg" class="h-20px me-3" />Invite Gmail Contacts
                </div>
                <div class="separator d-flex flex-center mb-8">
                    <span class="text-uppercase bg-white fs-7 fw-bold text-gray-400 px-3">or</span>
                </div>
<textarea class="form-control form-control-solid mb-8" rows="3" placeholder="Type or paste emails here"></textarea>
                <div class="mb-10">
                    <div class="fs-6 fw-bold mb-2">Your Invitations</div>
                    <div class="mh-300px scroll-y me-n7 pe-7">
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-1.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Emma Smith</a>
                                    <div class="fw-bold text-gray-400">e.smith@kpmg.com.au</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2" selected="selected">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fw-bold">M</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Melody Macy</a>
                                    <div class="fw-bold text-gray-400">melody@altbox.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1" selected="selected">Guest</option><option value="2">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-2.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Max Smith</a>
                                    <div class="fw-bold text-gray-400">max@kt.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2">Owner</option><option value="3" selected="selected">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-4.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Sean Bean</a>
                                    <div class="fw-bold text-gray-400">sean@dellito.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2" selected="selected">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-15.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Brian Cox</a>
                                    <div class="fw-bold text-gray-400">brian@exchange.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2">Owner</option><option value="3" selected="selected">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-warning text-warning fw-bold">M</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Mikaela Collins</a>
                                    <div class="fw-bold text-gray-400">mikaela@pexcom.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2" selected="selected">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-8.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Francis Mitcham</a>
                                    <div class="fw-bold text-gray-400">f.mitcham@kpmg.com.au</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2">Owner</option><option value="3" selected="selected">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fw-bold">O</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Olivia Wild</a>
                                    <div class="fw-bold text-gray-400">olivia@corpmail.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2" selected="selected">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-primary text-primary fw-bold">N</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Neil Owen</a>
                                    <div class="fw-bold text-gray-400">owen.neil@gmail.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1" selected="selected">Guest</option><option value="2">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-6.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Dan Wilson</a>
                                    <div class="fw-bold text-gray-400">dam@consilting.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2">Owner</option><option value="3" selected="selected">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fw-bold">E</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Emma Bold</a>
                                    <div class="fw-bold text-gray-400">emma@intenso.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2" selected="selected">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-7.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Ana Crown</a>
                                    <div class="fw-bold text-gray-400">ana.cf@limtel.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1" selected="selected">Guest</option><option value="2">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-info text-info fw-bold">A</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Robert Doe</a>
                                    <div class="fw-bold text-gray-400">robert@benko.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2">Owner</option><option value="3" selected="selected">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-17.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">John Miller</a>
                                    <div class="fw-bold text-gray-400">miller@mapple.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2">Owner</option><option value="3" selected="selected">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-success text-success fw-bold">L</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Lucy Kunic</a>
                                    <div class="fw-bold text-gray-400">lucy.m@fentech.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2" selected="selected">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="~/assets/media/avatars/150-10.jpg" />
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Ethan Wilder</a>
                                    <div class="fw-bold text-gray-400">ethan@loop.com.au</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1" selected="selected">Guest</option><option value="2">Owner</option><option value="3">Can Edit</option> </select>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <span class="symbol-label bg-light-primary text-primary fw-bold">N</span>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Neil Owen</a>
                                    <div class="fw-bold text-gray-400">owen.neil@gmail.com</div>
                                </div>
                            </div>
                            <div class="ms-2 w-100px">
                                <select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true"><option value="1">Guest</option><option value="2">Owner</option><option value="3" selected="selected">Can Edit</option> </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-stack">
                    <div class="me-5 fw-bold">
                        <label class="fs-6">Adding Users by Team Members</label>
                        <div class="fs-7 text-gray-400">If you need more info, please check budget planning</div>
                    </div>
                    <label class="form-check form-switch form-check-custom form-check-solid"> <input class="form-check-input" type="checkbox" value="1" checked="checked" /> <span class="form-check-label fw-bold text-gray-400">Allowed</span> </label>
                </div>
            </div>
        </div>
    </div>
</div>